---
import { html, background } from "index.json";

const { lang, title, description, favicon } = html;
const { firstColor, secondColor } = background;
---

<!doctype html>
<html lang={`${lang}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={`${description}`} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${favicon}`} />
    <meta name="theme-color" content={`${firstColor}`} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global define:vars={{ firstColor, secondColor }}>
  @import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

  html {
    font-family: "Onest", sans-serif;
  }

  body,
  figure {
    background: linear-gradient(var(--firstColor), var(--secondColor));
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 2rem 0 2rem 0;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  p {
    color: #888;
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }

  @media only screen and (max-width: 768px) {
    body {
      width: 80%;
    }
  }
</style>
