---
import { html, background } from "index.json";
import logoUrl from '../../public/logo.png';

const { lang, title, description, favicon } = html;
const { firstColor, secondColor } = background;
---

<!doctype html>
<html lang={`${lang}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={`${description}`} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/public/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content={`${firstColor}`} />
    <title>{title}</title>
  </head>
  <body>
    <div id="overlay">
      <img id="logo" src="logoUrl.src" alt="Logo" />
    </div>
    <slot />
    <script>
     document.addEventListener("DOMContentLoaded", () => {
  const overlay = document.getElementById("overlay");
  if (overlay) {
    overlay.addEventListener("animationend", () => {
      overlay.remove(); // Elimină complet overlay-ul din DOM
    });
  }
});    </script>
  </body>
</html>
<style is:global define:vars={{ firstColor, secondColor }}>
  @import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

  html {
    font-family: "Onest", sans-serif;
  }
  body {
    cursor: url('/Kitty.cur'), auto;
    overflow: hidden;
    background: #121212;
  }
  body,
  figure {
    background: black;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    text-decoration: none;
    cursor: url('/Kitty.cur'), pointer;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  p {
    color: #888;
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }
  @media only screen and (max-width: 768px) {
    body {
      width: 80%;
    }
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
      animation: fadeOut 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Creștem durata la 3s */
    animation-delay: 1s; /* Adăugăm o pauză de 1s */
  }
  #logo {
    width: 100px; /* Ajustează dimensiunea după preferințe */
    opacity: 0;
    animation: blink 2s ease-in-out 2;
    animation-delay: 1s; /* Sincronizează animația cu delay-ul */
  }
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
</style>
